body, p, td, div, input, textarea {
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight : normal;
	font-size : 11px;
}
BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    SCROLLBAR-FACE-COLOR: #999999;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
    SCROLLBAR-SHADOW-COLOR: #FFFFFF;
    COLOR: #000000;
    BACKGROUND-COLOR: #000066;
    SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
    SCROLLBAR-ARROW-COLOR: #000000;
    PADDING-TOP: 0px;
    SCROLLBAR-TRACK-COLOR: #FFFFFF;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF
}
SELECT
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: tahoma, verdana, helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
TEXTAREA
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: tahoma, verdana, helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
INPUT.option
{
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 0px solid;
    COLOR: #000000;
    BORDER-BOTTOM: black 0px solid;
    FONT-FAMILY: tahoma, verdana, helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.Submit
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: tahoma, verdana, helvetica, sans-serif;
    BACKGROUND-COLOR: #ebebeb
}

A {
	font-size: 11px;
	color: #333333;
	line-height: 14px;
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

A:hover {
	color: #999966;
	cursor: hand;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

PRE
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #5f5d5d;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
CODE
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #5f5d5d;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
H3
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14pt;
    COLOR: #666666;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: transparent;
    FONT-VARIANT: normal
}
EM
{
    FONT-STYLE: italic
}
STRONG
{
    FONT-WEIGHT: bold;
    FONT-STYLE: normal
}
EM STRONG
{
    FONT-WEIGHT: bolder;
    TEXT-TRANSFORM: uppercase;
    FONT-STYLE: normal
}
STRONG EM
{
    FONT-WEIGHT: bolder;
    TEXT-TRANSFORM: uppercase;
    FONT-STYLE: normal
}
B
{
    FONT-WEIGHT: bold
}
I
{
    FONT-STYLE: italic
}
DIV.mainheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #023446;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: left
}
DIV.maintext
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: justify
}
DIV.mainleft
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: left
}
DIV.mainmenu
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: right
}
DIV.mainpages
{
    FONT-SIZE: 7pt;
    MARGIN-RIGHT: 0px;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: right
}
DIV.maincatnav
{
    FONT-SIZE: 7pt;
    MARGIN-LEFT: 0px;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: left
}
DIV.mainname
{
    FONT-SIZE: 8pt;
    COLOR: #023446;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: left
}
DIV.maininputleft
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: left
}
DIV.comment
{
    FONT-SIZE: 10pt;
    BACKGROUND: #e8e8e8;
    MARGIN-LEFT: 5mm;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: left
}
DIV.xsmallleft
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: left
}
DIV.smallleft
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: left
}
DIV.spaceleft
{
    FONT-SIZE: 4pt;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: left
}
DIV.footer
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: center
}
SPAN.censored
{
    FONT-SIZE: 10pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana,Arial,sans-serif;
    TEXT-ALIGN: left
}
TD.class1
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BACKGROUND: #999999;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
TD.class2
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BACKGROUND: #dddddd;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: justify
}
TD.gbheader
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
TD.gbtable1
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    WIDTH: 20%;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #ffffff
}
TD.gbtable2
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #c0c0ff
}
INPUT
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: tahoma, verdana, helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.optionx
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
TR.deco IMG
{
    DISPLAY: block
}

.errortext {
  font-family : Arial, Helvetica, sans-serif; 
  font-size : .9em;
  color : red;
  font-weight : bold;
}

.bg_dark {
  background-color : #7c7984;
  color : #000000;
}

.bg_medium {
  background-color : #bcbcbc;
}

.bg_light {
  background-color : #EFEFEF;
}

.alt_bg_dark {
  background-color : #3200ff;
  color : #000000;
}

.alt_bg_medium {
  background-color : #7c7984;
}

.alt_bg_light {
  background-color : #bcbcbc;
}

.maintable {
	background-color: #fefefe;
}

.smalltextatbottom {
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	font-size : 11px;
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	text-align : center;
	color : #efefef;
	background-color : transparent;
}
.navybg {
	background-color: #000066;
}

.silverbg {
	background-color: #EFEFEF;
}

a.menu {
	font-size: 11px;
	color: #333333;
	line-height: 14px;
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
a.menuwhite {
	font-size: 11px;
	color: #FFFFFF;
	line-height: 14px;
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}	
a.menu:hover {
	color: #999966;
	cursor: hand;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.boxtitle {
	color: #666666;
	text-decoration: none;
	font-weight : bold;
	font-size : 11px;
	list-style-type: none;
	line-height: 14px;
}
.maintable {
	background-color: #fefefe;
}	