Phatform Requirements
---------------------

Note: Upon initial release of phatform, this code has only been
tested on sites running cvs versions of phpWebSite v0.9.x on or
after the date of February 1st, 2003.  This note will be removed
once a stable release of v0.9.0 is released.

It is assumed that the user of phatform has a working web server
with a working installation of phpWebSite v0.9.0 or greater. It is
also assumed that the user wishing to install phatform has a deity
account or an administrative account with full rights to the Boost
module.

Requirements:
-------------
- phpWebSite v0.9.0 or greater
